html{
  background-color: red
}
body{
 text-align: center;
}
header{
  border: 20px dashed black;

}
h1{
  font-family: monospace;
  font-size: 80px;
  font-weight: bold;
  color: white;

}
h2, h3{
  font-family: monospace;
  font-size: 35px;
  color: white;
}
p{
  font-family: sans-serif;
  color: black;
  text-shadow: 2px 2px white;
}
a{
  color: darkblue;
  font-size: 25px;
  font-family: inherit;
  margin: 12px;
}
table{
  margin: auto;
}
img{
  display: block;
  margin: auto;
  border: 10px solid black;
  border-radius: 8px;

}
footer{
 border: 10px dashed black;
}
